

<div class='two-jobs-all-skills scene'>
	{{#each copy.two-jobs-all-skills}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='two-jobs-skills-difference scene'>
	{{#each copy.two-jobs-skills-difference}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='two-jobs-stack-difference scene'>
	{{#each copy.two-jobs-stack-difference}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='many-jobs-stack-difference scene'>
	{{#each copy.many-jobs-stack-difference}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='x-axis-scatter scene'>
	{{#each copy.x-axis-scatter}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='xy-axes-scatter scene'>
	{{#each copy.xy-axes-scatter}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='show-similarity-auto-wage scene'>
	{{#each copy.show-similarity-auto-wage}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='show-similarity-auto-wage-number scene'>
	{{#each copy.show-similarity-auto-wage-number}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>
